# Python cache
__pycache__/
*.pyc

# User-generated data, logs, and summaries
# These directories will be managed by Docker volumes and should not be in Git
data/
logs/
summaries/

# OS-specific files
.DS_Store
Thumbs.db

# --- Configuration Files ---
# Ignore the actual config and secrets files.
# The *.example.toml files should be committed to the repository.
src/secrets.toml
src/config.toml
src/historical_collection_logs.toml
src/historical_personal_bests.toml

# --- Test files ---
# Files used only for testing
5_post_pbs_to_discord_test*

