# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Database and Data files
data/
*.db
*.sqlite3
sync_state.json

# Reports and Logs
reports/
logs/
*.log

# Secrets file
src/secrets.toml

# Regex Test utility files
src/regex_test/raw_message_dump.txt
src/regex_test/regex_test_failures.log

# IDE and OS specific
.idea/
.vscode/
*.DS_Store
